/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  background-color: hsl(216, 12%, 8%);
  font-family: 'Overpass', sans-serif;
  color: #fff;
}