<div class="rating-container">
  <main class="thank-you-card">
    <header>
      <img class="header-image" src="../../../assets/icon-star.svg" alt="">
    </header>
    <main class="card-content">
      <h2 class="title">{{ CONTENT_RATING.title }}</h2>
      <p class="subtitle">{{ CONTENT_RATING.subTitle }}</p>
      <ul>
        <li>
          <input type="radio" id="ratingOne" name="rating" [value]="CONTENT_RATING.ratingOne">
          <label for="ratingOne">1</label>
        </li>
        <li>
          <input type="radio" id="ratingTwo" name="rating" [value]="CONTENT_RATING.ratingTwo">
          <label for="ratingTwo">2</label>
        </li>
        <li>
          <input type="radio" id="ratingThree" name="rating" [value]="CONTENT_RATING.ratingThree">
          <label for="ratingThree">3</label>
        </li>
        <li>
          <input type="radio" id="ratingFour" name="rating" [value]="CONTENT_RATING.ratingFour">
          <label for="ratingFour">4</label>
        </li>
        <li>
          <input type="radio" id="ratingFive" name="rating" [value]="CONTENT_RATING.ratingFive">
          <label for="ratingFive">5</label>
        </li>
      </ul>
      <button class="submitButton" (click)="onSubmit()">{{ CONTENT_RATING.buttonText }}</button>
    </main>
  </main>
</div>