@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600&display=swap');

html {
  background-color: #0d1a2d;
}

.card-title {
  color: #fff;
}

.card-container {
  margin-right: 3rem;
  background-color: #15273f;
  padding: 1.5rem;
  color: #fff;
  top: 4.5rem;
  position: absolute;
  border-radius: 20px;
  font-family: 'Josefin Sans', sans-serif;
  max-width: 378px;
}

.title-link {
  color: #fff;
  text-decoration: none;
}

.title-link:hover {
  color: #04fbf9;
  text-decoration: none;
}

.card-content {
  margin-top: 24px;
  margin-bottom: 1rem;
  font-weight: 300;
  font-size: 21px;
  color: #B3E5FC;
}

.card-image {
  height: 20.438rem;
  width: 20.438rem;
  border-radius: 10px;
  
}

.container-image-overlay {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: #04fbf9;
}

.container-image-overlay:hover .overlay {
  opacity: .5;
}

.icon {
  margin-bottom: 5px;
}

.overlay-icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.hover-image:hover {
  color: #fff;
}

.card-image-link:hover {
  background-color: #04fbf9;
}

.avatar {
  width: 30px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 16px;
}

.ethereum {
  color: #04fbf9;
}

.author-link {
  color: #fff;
  text-decoration: none;
}

.author-link:hover {
  color: #04fbf9;
  text-decoration: none;
}

.rate-and-days {
  display: flex;
}

.days-left {
  flex-grow: 1;
  text-align: right;
}
